@use '../abstracts' as a;

.portfolio {
  margin-top: 10rem;
  margin-bottom: 10rem;
  &__item {
    margin-bottom: 3rem;
    div.img {
      height: 200px;
      padding: 3rem;
      @include a.box-img-cover;
    }
  }

  &__menu {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }
    li {
      padding: 3rem;
      font-size: 1.245rem;
      color: a.$brand-color2;
    }
  }
}
