/**
 * Basic typography style for copy text
 */
@use '../abstracts' as a;

// h1, h2, a, p, ul li
// all basic typography settings here
.h1 {
  font-size: 8rem;
  color: a.$light-grey;
  text-align: center;
}

.h2 {
  font-size: 2.5rem;
  color: a.$brand-color;
  text-align: center;
}

.h3{
  font-size: 2rem;
  font-weight: 200;
  color: a.$brand-color;
  text-align: center;
}

.h4{
  font-size: 1.75rem;
  font-weight: 200;
  color: a.$brand-color;
  text-align: center;
}

.p{
  font-size: 2rem;
  color: a.$text-color;
 
}


.nav-link {
  font-size: 1.4rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  @include a.on-event() {
    box-shadow: inset 100px 0 0 0 a.$brand-color;
    color: a.$brand-color2;
  }
}
