// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts' as a;


footer,
.footer{
    background-color:  rgb(29, 30, 25);

    &__links{
        text-align: center;
        list-style-type: none

    }

    a,p {
        color: a.$light-grey;
    }
}