@use '../abstracts' as a;


.auction_house {
 

  &--add-new {
    order: 555;
    height: 20rem;
    > div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    i {
      font-size: 5rem;
    }
  }

  &--description {

  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__content {
    padding: 2rem;
  }
  &__heading {
    margin: 0;
    font-weight: 500;
    color: a.$brand-color;
    font-size: 2rem;
  }

  &__type,
  &__location,
  &__description {
    display: block;
    font-size: 1.5rem;
  }
  &__button {
    display: block;
    padding: 2rem 0;
    //margin: 1rem 0;
  }
}
