@use '../abstracts' as a;

.top-row {
  background-color: a.$brand-color;
  color: a.$light-grey;
  font-size: 1.5rem;

  @include a.m-down('small') {
    display: none;
  }

  .row {
    align-items: center;
    height: 5rem;
    padding: 0 2rem;
  }
}
