@use './variables' as *;

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $brand-color,
      0 0 40px $brand-color, 0 0 50px $brand-color, 0 0 60px $brand-color,
      0 0 70px $brand-color;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px lighten($brand-color, 10%),
      0 0 40px lighten($brand-color, 10%), 0 0 50px lighten($brand-color, 10%),
      0 0 60px lighten($brand-color, 10%), 0 0 70px lighten($brand-color, 10%),
      0 0 80px lighten($brand-color, 10%);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  }
  50% {
    opacity: 0.9;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=90)';
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  }
}
